
@font-face{ 
  font-family: 'vesperlibre-medium-webfontt';
  src: url('vesperlibre-medium-webfontt.eot');
  src: url('vesperlibre-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('vesperlibre-medium-webfont.woff') format('woff'),
       url('vesperlibre-medium-webfont.ttf') format('truetype'),
       url('vesperlibre-medium-webfont.svg#webfont') format('svg');
}

.link { color: #CFAC44; }
.link:hover { color: white; } /* CSS link hover (green) */

body {
  padding:50px;
}

/* background img */
.sky_png{
   position: absolute;
   width: 1440px;
   height: 1472px;
   left: 0px;
   top: 0px;
   background: url(wp7331986.jpg);
}

.book_png{
 position: absolute;
 width: 683px;
 height: 704px;
 left: 348px;
 top: 247px;
 z-index: 1;
}


h1{
 position: absolute;
 width: 376px;
 height: 64px;
 left: 720px;
 top: 146px;

 font-family: Vesper Devanagari Libre;
 font-style: normal;
 font-weight: normal;
 font-size: 64px;
 line-height: 91px;
 z-index: 1;
 color: #CFAC44;
}

h2{
 position: absolute;
 width: 498px;
 height: 184px;
 left: 373px;
 top: 1024px;

 font-family: Vesper Devanagari Libre;
 font-style: normal;
 font-weight: normal;
 font-size: 38px;
 line-height: 50px;
 color: #CFAC44;
 z-index: 1;
}

